In [21]:
import pandas as pd

# Import and read in data
DataDct = pd.read_csv("nrippner-bjs-crime-victim-statistics/data_dict.csv")
Data2 = pd.read_csv("data_fragments/data_two.csv")

# Rename columns
Data2.rename(
    columns={"year": "Year",
             "hincome": "Annual Income",
             "popsize": "Population Size",
             "region": "Region", 
             "msa": "Metro Area",
             "direl": "Direct Relationship"})

,Year,Annual Income,Population Size,Region,Metro Area,Direct Relationship
0,2009,2,5,2,1,4
1,2009,5,2,3,1,5
2,2009,1,2,2,1,4
3,2009,7,2,2,1,3
4,2009,1,2,4,1,5
...,...,...,...,...,...,...
16524,2018,7,1,3,2,6
16525,2018,6,1,3,2,5
16526,2018,7,1,1,2,1
16527,2018,5,1,3,3,3
16528,2018,2,4,3,1,5

###